.clockdial{
    height: 495px;
    width: 500px;
    border: 15px solid grey;
    margin: auto;
    position: relative;
    top: 65px;
    border-radius: 50%;
    background-color:rgba(80, 20, 4, 0.815);
}

body{ background-color: black;}
.hour-1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 30px;
    right: 140px;
}


.hour-2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 125px;
    right: 45px;
}

.hour-3{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 235px;
    right: 10px;
}

.hour-4{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 345px;
    right: 45px;
}

.hour-5{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 430px;
    right: 130px;
}

.hour-6{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 240px;
}

.hour-7{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 130px;}

    .hour-8{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 125px;
    left: 45px;
}

.hour-9{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 235px;
    left: 10px;
}

.hour-10{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 345px;
    left: 45px;
}

.hour-11{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 430px;
    left: 130px;
}

.hour-12{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10px;
    left: 235px;
}

.dial{
width: 20px;
height: 20px;
border-radius: 50%;
background-color: black;
position: absolute;
top: 240px;
left: 240px;
}

.brand{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 76px;
left: 210px;
color: burlywood;
}

.minutehandwrapper{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}

.minutehand{
    position: relative;

}


.minutehand .hand{
    width: 4px;
    height: 150px;
    background-color: black;
    position: absolute;
    left: 198px;
    top: 50px;
}
.hourhand{
    position: relative;
}

.hourhandwrapper{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
}

.hourhand .hand{
    width: 4px;
    height: 120px;
    background-color: black;
    position: absolute;
    left: 148px;
    top: 30px;
    
}

.secondshand{
    position: relative;
}

.secondshandwrapper{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
}

.secondshand .hand{
    width: 4px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 148px;
    top: 50px;
}